<footer>
  <div class="container">    
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li>Utile</li>
            <li><%= link_to "Acasa", root_path %></a></li>
            <li><%= link_to "Despre noi", despre_noi_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Portofoliu", portofoliu_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li>Servicii<li>
            <li><%= link_to "Transport mobila", transport_mobila_path %></li>
            <li><%= link_to "Transport bagaje", transport_bagaje_path %></li>
            <li><%= link_to "Mutari locuinte" , mutari_locuinte_path %></li>
            <li><%= link_to "Mutari firme"    , mutari_firme_path %></li>
            <li><%= link_to "Mutari seifuri"  , mutari_seifuri_path %></li>
            <li><%= link_to "Mutari vitrine"  , mutari_vitrine_path %></li>
            <li><%= link_to "Inchiriere personal mutari" , inchiriere_personal_mutari_path %></li>       
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li>Retele de socializare<li>
            <li><i class="icon-facebook"></i>facebook.com/mutari-romania</li>
            <li><i class="icon-google-plus"></i>https://plus.google.com/</li>
            <% #TODO Make facebook and Google+ Pages%>            
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li>Contact Rapid</li>
            <li>Telefon: 0763500000</li>
            <li>Orange: 0740 - 029.30</li>
            <li>e-Mail: office@volsped.ro</li>
            <li>Nr Reg Com: J40/11264/2013</li>
            <li>C.U.I: RO 32229380</li>
            <li>Banca: Unicredit Tiriac Bank</li>            
          </ul>
        </div>  
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-12">
          <p class="muted pull-right">© 2013 MUTĂRI ROMÂNIA 2013 . Toate drepturile sunt rezervate</p>
        </div>
      </div>
    </div>
  </div>
</footer>