<nav class="navbar navbar-inner navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./index.html"><img src="/assets/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Acasa", root_path %></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Servicii <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Transport mobila", transport_mobila_path %></li>
            <li><%= link_to "Transport bagaje", transport_bagaje_path %></li>
            <li><%= link_to "Mutari locuinte" , mutari_locuinte_path %></li>
            <li><%= link_to "Mutari firme"    , mutari_firme_path %></li>
            <li><%= link_to "Mutari seifuri"  , mutari_seifuri_path %></li>
            <li><%= link_to "Mutari vitrine"  , mutari_vitrine_path %></li>
            <li><%= link_to "Inchiriere personal mutari" , inchiriere_personal_mutari_path %></li>
          </ul>
        </li>
        <li><%= link_to "Despre noi", despre_noi_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "Portofoliu", portofoliu_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
      <span class="telefon pull-right" id="telefon-computer">
        <i class="glyphicon glyphicon-phone"></i>
        Telefon: 0726121584
      </span>
    </div><!-- /.navbar-collapse -->
    <span class="telefon" id="telefon-mobile">
      <i class="glyphicon glyphicon-phone"></i>
      Telefon: 
      <a href="tel:0726121584">
      0726121584
      </a>
    </span>
  </div><!-- /.container -->
</nav>
